:root{
    --primary-walmart-blue : #007cc1;
    --primary-walmart-yellow : #FFC220;
    --primary-light-grey : #F1F1F2;
    --primary-mild-grey : #DDD;
    --primary-dark-grey : #555;
    --primary-white : #FFF;
}